.date-picker-popover {
  --rdp-accent-color: var(--color-primary);
  --rdp-accent-background-color: var(--color-iris-50);
  --rdp-today-color: var(--color-primary);
}

.date-picker-popover .rdp-day_button {
  cursor: pointer;
}

.date-picker-popover .rdp-day_button:disabled {
  cursor: not-allowed;
}
